@blue: blue;
@cor2: green;
@cor3: #CCC;

.drop-shadow {
	text-shadow: 2px 1px 1px #CCC;
	text-decoration: underline;
}

h1 {
	color: @blue;
}

p {
	color: @blue;

	b {
		color: @cor3;
		background-color: @cor2;
	}
}