/* @blue: blue; //variaveis
@cor2: green;
@cor3: red;


//mixin, funciona parecido com uma função que pode ser chamada dentro do elemento ou classe
.drop-shadow {
	text-shadow: 2px 1px 1px #CCC;
	text-decoration: underline;
}

body {
	background-color: rgb(210, 212, 208);
}

h1 {
	.drop-shadow(); //chamada do Mixin
	color: @blue;
}

p {
	color: @blue;
	width: 100%;
}

b {
	color: @cor3;
} */

//trabalhando mixins

@cor: blue;
@cor-cinza_claro: rgb(218, 212, 208);

body {
	background-color: @cor-cinza_claro;
}

h1 {
	.cores(50px, 'h1');
}

p {
	.cores(23px, 'p');
}

.cores(@tamanho, @tag) {
	color: @cor;
	font-size: @tamanho;

	& when (@tag ='h1') {
		background-color: coral;
	}

	& when(@tag ='p') {
		background-color: lightgreen;
	}
}